.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-us-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-us-image {
  height: 2rem;
}
.about-us-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.about-us-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-us-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.about-us-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.about-us-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.about-us-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.about-us-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.about-us-burger-menu {
  display: none;
}
.about-us-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-logo {
  height: 2rem;
}
.about-us-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .about-us-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-desktop-menu {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-text05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .about-us-navbar-interactive {
    color: #ffffff;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #474A48;
  }
  .about-us-image {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-icon {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-mobile-menu {
    padding: 16px;
    background-color: #474A48;
  }
  .about-us-logo {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-icon02 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-icon04 {
    fill: #ffffff;
  }
  .about-us-icon06 {
    fill: #ffffff;
  }
  .about-us-icon08 {
    fill: #ffffff;
  }
}
