.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: var(--dl-size-size-maxwidth);
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.home-image {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.home-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container03 {
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  height: 700px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/Assets/untitled-1-1400w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: 500px;
  flex-direction: column;
}
.home-container05 {
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text10 {
  font-size: 32px;
  text-align: center;
  font-family: "Electrolize-Regular";
  margin-right: 0px;
}
.home-container06 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-button {
  font-style: normal;
  font-weight: 700;
  background-color: rgb(52, 212, 32);
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: flex-start;
  background-size: cover;
  justify-content: center;
  background-image: url("/Assets/6cmtt7vzcc8ltckeyqa3gm-1500w.jpg");
  background-position: top;
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container09 {
  width: auto;
  height: 191px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text15 {
  color: rgb(243, 243, 243);
  font-size: 32px;
  font-family: "Electrolize-Regular";
  text-decoration: underline;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-container12 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text16 {
  color: rgb(32, 225, 27);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Electrolize-Regular";
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text17 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-container17 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.home-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text24 {
  color: rgb(32, 225, 27);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Electrolize-Regular";
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text25 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.home-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
}
.home-container22 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-container24 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text32 {
  color: rgb(32, 225, 27);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Electrolize-Regular";
}
.home-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text33 {
  color: rgb(255, 255, 255);
  text-align: center;
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #474a48;
  }
  .home-image {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    margin-right: 0px;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    fill: #ffffff;
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .home-text05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container03 {
    height: 350px;
    background-size: auto;
    background-image: a209070e-68db-4055-9404-219a2e05ed36;
    background-repeat: no-repeat;
    background-position: right;
  }
  .home-container04 {
    margin-right: 170px;
  }
  .home-container05 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-text10 {
    width: auto;
    font-size: 24px;
    align-self: center;
    text-align: center;
    font-family: Electrolize-Regular;
  }
  .home-container06 {
    margin-top: var(--dl-space-space-unit);
    align-items: center;
  }
  .home-button {
    font-style: normal;
    font-weight: 700;
    background-color: rgb(30, 212, 30);
  }
  .home-container07 {
    background-size: cover;
    background-image: url("/Assets/6cmtt7vzcc8ltckeyqa3gm-1500w.jpg");
  }
  .home-container10 {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container11 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-container14 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text16 {
    text-align: center;
  }
  .home-text17 {
    align-self: center;
    text-align: center;
  }
  .home-container16 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-container19 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text24 {
    text-align: center;
  }
  .home-text25 {
    align-self: center;
    text-align: center;
  }
  .home-container21 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-container24 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text32 {
    text-align: center;
  }
  .home-text33 {
    align-self: center;
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-halfunit);
    background-color: #474A48;
  }
  .home-image {
    width: 55px;
    height: 55px;
  }
  .home-icon {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-mobile-menu {
    padding: 16px;
    background-color: #474A48;
  }
  .home-logo {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-icon02 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-text05 {
    color: rgb(255, 255, 255);
  }
  .home-text06 {
    color: #ffffff;
  }
  .home-text07 {
    color: #ffffff;
  }
  .home-text08 {
    color: #ffffff;
  }
  .home-text09 {
    color: #ffffff;
  }
  .home-icon04 {
    fill: #ffffff;
  }
  .home-icon06 {
    fill: #ffffff;
  }
  .home-icon08 {
    fill: #ffffff;
  }
  .home-container03 {
    height: var(--dl-size-size-xxlarge);
    background-size: contain;
    background-image: a209070e-68db-4055-9404-219a2e05ed36;
    background-repeat: no-repeat;
    background-position: right;
  }
  .home-container04 {
    margin-right: 230px;
    margin-bottom: 0px;
  }
  .home-container05 {
    margin-right: 0px;
    flex-direction: column;
  }
  .home-text10 {
    align-self: center;
    text-align: center;
    font-family: Electrolize-Regular;
  }
  .home-text11 {
    font-style: normal;
    font-weight: 700;
  }
  .home-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .home-text13 {
    font-style: normal;
    font-weight: 700;
  }
  .home-container06 {
    align-items: center;
  }
  .home-button {
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 700;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: rgb(30, 212, 30);
  }
  .home-container07 {
    opacity: 1;
    background-size: cover;
    background-image: url("/Assets/6cmtt7vzcc8ltckeyqa3gm-1500w.jpg");
  }
  .home-container09 {
    height: 100px;
    justify-content: center;
  }
  .home-text15 {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    font-family: Electrolize-Regular;
    text-decoration: underline;
  }
  .home-container10 {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container11 {
    width: 130px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-container12 {
    width: 100%;
    height: 100px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-size: cover;
    background-image: url("/Assets/laptop-200h.png");
    background-position: center;
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .home-container13 {
    width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #000000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-container14 {
    height: 82px;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text16 {
    color: rgb(16, 249, 10);
    font-size: 13px;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Electrolize-Regular;
  }
  .home-container15 {
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-text17 {
    color: rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
  }
  .home-container16 {
    width: 130px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-container17 {
    width: 100%;
    height: 100px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-size: cover;
    background-image: url("/Assets/laptop-200h.png");
    background-position: center;
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .home-container18 {
    width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #000000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-container19 {
    height: 82px;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text24 {
    color: rgb(16, 249, 10);
    font-size: 13px;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Electrolize-Regular;
  }
  .home-container20 {
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-text25 {
    color: rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
  }
  .home-container21 {
    width: 130px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-container22 {
    width: 100%;
    height: 100px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-size: cover;
    background-image: url("/Assets/laptop-200h.png");
    background-position: center;
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .home-container23 {
    width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #000000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-container24 {
    height: 82px;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text32 {
    color: rgb(16, 249, 10);
    font-size: 13px;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Electrolize-Regular;
  }
  .home-container25 {
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-text33 {
    color: rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
  }
}
