.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container05 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container06 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container09 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container10 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container11 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container13 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container14 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container15 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-container18 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container19 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container20 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-container23 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container24 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container25 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-halfunit);
    background-color: #474A48;
  }
  .home-image {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-icon {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-mobile-menu {
    padding: 16px;
    background-color: #474A48;
  }
  .home-logo {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-icon02 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-text05 {
    color: rgb(255, 255, 255);
  }
  .home-text06 {
    color: #ffffff;
  }
  .home-text07 {
    color: #ffffff;
  }
  .home-text08 {
    color: #ffffff;
  }
  .home-text09 {
    color: #ffffff;
  }
  .home-icon04 {
    fill: #ffffff;
  }
  .home-icon06 {
    fill: #ffffff;
  }
  .home-icon08 {
    fill: #ffffff;
  }
  .home-container03 {
    height: var(--dl-size-size-xxlarge);
    background-size: contain;
    background-image: url("/Assets/acer-swift-3x_sf314-510g_gold_modelmain-1500w.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .home-container04 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container05 {
    align-items: center;
  }
  .home-text10 {
    text-align: center;
  }
  .home-text11 {
    font-style: normal;
    font-weight: 700;
  }
  .home-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .home-text13 {
    font-style: normal;
    font-weight: 700;
  }
  .home-container06 {
    align-items: center;
  }
  .home-button {
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 700;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: rgb(30, 212, 30);
  }
  .home-container07 {
    height: var(--dl-size-size-large);
    display: none;
  }
  .home-container08 {
    background-size: cover;
    background-image: url("/Assets/6cmtt7vzcc8ltckeyqa3gm-1500w.jpg");
  }
  .home-container09 {
    width: var(--dl-size-size-medium);
  }
  .home-container10 {
    height: 100px;
    justify-content: center;
  }
  .home-text15 {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    font-family: Electrolize-Regular;
    text-decoration: underline;
  }
  .home-container11 {
    width: var(--dl-size-size-medium);
  }
  .home-container12 {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container13 {
    width: 130px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-container14 {
    width: 100%;
    height: 100px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-size: cover;
    background-image: url("/Assets/laptop-200h.png");
    background-position: center;
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .home-container15 {
    width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #000000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-container16 {
    height: auto;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text16 {
    color: rgb(16, 249, 10);
    font-size: 14px;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Electrolize-Regular;
  }
  .home-text18 {
    font-size: 13px;
  }
  .home-container17 {
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-text19 {
    color: rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
  }
  .home-container18 {
    width: 130px;
    margin-right: 0px;
  }
  .home-container19 {
    width: 100%;
    height: 100px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-size: cover;
    background-image: url("/Assets/customnpc-200h.png");
    background-position: center;
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .home-container20 {
    width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #000000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-container21 {
    height: auto;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text27 {
    color: rgb(16, 249, 10);
    font-size: 14px;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Electrolize-Regular;
  }
  .home-text29 {
    font-size: 13px;
  }
  .home-container22 {
    height: 100%;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-text30 {
    color: rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
  }
  .home-container23 {
    width: 130px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: 0px;
  }
  .home-container24 {
    width: 100%;
    height: 100px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-size: cover;
    background-image: url("/Assets/abtt2-200h.png");
    background-position: center;
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .home-container25 {
    width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #000000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-container26 {
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text34 {
    color: rgb(16, 249, 10);
    font-size: 13px;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Electrolize-Regular;
  }
  .home-container27 {
    height: 100%;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-text35 {
    color: rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
  }
}
